<div id="infobox">
  <div class="infobox-icon">?</div>
  <div class="infobox-body infobox-hidden">
    <h2>Mojifall</h2>

    <h3>Emojitracker OpenMoji Visualization</h3>

    <p>What you see mimics a real-world use of emojis in <a href="https://twitter.com">Twitter</a>. Emoji graphics are designed by the awesome <a href="https://openmoji.org/">OpenMoji</a> project. The emoji usage statistics are provided by <a href="https://github.com/mroth/emojitracker">Emojitracker</a>. Animated on <a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API">canvas</a> with <a href="https://www.npmjs.com/package/sprinkler">Sprinkler</a>.</p>

    <p>Fork me in <a href="https://github.com/axelpale/mojifall/tree/emojitracker">GitHub</a>.<br>With ❤ by <a href="http://akselipalen.com/">Axel&nbsp;Pale</a> 2019.</p>
  </div>
</div>
