<div id="infobox">
  <div class="infobox-icon">?</div>
  <div class="infobox-body infobox-hidden">
    <h2>Mojifall</h2>
    <p>What you see is a never-ending fall of the 3180 open-source emojis created by the awesome <a href="https://openmoji.org/">OpenMoji</a> project. Animated on canvas with <a href="https://www.npmjs.com/package/sprinkler">Sprinkler</a>.</p>
    <p>&copy; <a href="http://akselipalen.com/">Akseli Palén</a> 2019</p>
  </div>
</div>
